.idea/*
vendor/*
.phpunit.result.cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/*
Makefile
.git/*
.gitignore
assignment.txt
cicd/*
